
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.Rhistory
.RData
test,plot.html
test,plot_files/crosstalk-1.2.1/css/crosstalk.min.css
test,plot_files/crosstalk-1.2.1/js/crosstalk.js
test,plot_files/crosstalk-1.2.1/js/crosstalk.js.map
test,plot_files/crosstalk-1.2.1/js/crosstalk.min.js
test,plot_files/crosstalk-1.2.1/js/crosstalk.min.js.map
test,plot_files/crosstalk-1.2.1/scss/crosstalk.scss
test,plot_files/htmlwidgets-1.6.4/htmlwidgets.js
test,plot_files/jquery-3.5.1/jquery-AUTHORS.txt
test,plot_files/jquery-3.5.1/jquery.js
test,plot_files/jquery-3.5.1/jquery.min.js
test,plot_files/jquery-3.5.1/jquery.min.map
test,plot_files/plotly-binding-4.10.3/plotly.js
test,plot_files/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css
test,plot_files/plotly-main-2.11.1/plotly-latest.min.js
test,plot_files/typedarray-0.1/typedarray.min.js
test_plot.html
test_plot_files/crosstalk-1.2.1/css/crosstalk.min.css
test_plot_files/crosstalk-1.2.1/js/crosstalk.js
test_plot_files/crosstalk-1.2.1/js/crosstalk.js.map
test_plot_files/crosstalk-1.2.1/js/crosstalk.min.js
test_plot_files/crosstalk-1.2.1/js/crosstalk.min.js.map
test_plot_files/crosstalk-1.2.1/scss/crosstalk.scss
test_plot_files/htmlwidgets-1.6.4/htmlwidgets.js
test_plot_files/jquery-3.5.1/jquery-AUTHORS.txt
test_plot_files/jquery-3.5.1/jquery.js
test_plot_files/jquery-3.5.1/jquery.min.js
test_plot_files/jquery-3.5.1/jquery.min.map
test_plot_files/plotly-binding-4.10.3/plotly.js
test_plot_files/plotly-htmlwidgets-css-2.11.1/plotly-htmlwidgets.css
test_plot_files/plotly-main-2.11.1/plotly-latest.min.js
test_plot_files/typedarray-0.1/typedarray.min.js
*.history
